<%= simple_form_for(@invoice) do |f| %>
  <div id="invoice-wrap">
    <% if @invoice.errors.any? %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="row">

      <div class="invoice-address col-md-4">
        <address>
          <%= f.label :company, "From" %>
          <%= f.input_field :company, class: "form-control" %>
          <input type="text" name="address_1" class="form-control" placeholder="address"/>
          <input type="text" name="phone_1" class="form-control" placeholder="phone number"/>
        </address>
      </div>
      <div class="invoice-address col-md-4">
        <address>
          <%= f.label :contragent, "To" %>
          <%= f.input_field :contragent, class: "form-control" %>
          <input type="text" name="address_2" class="form-control" placeholder="address"/>
          <input type="text" name="phone_2" class="form-control" placeholder="phone number"/>
        </address>

      </div>

    </div>

    <div class="row">

      <div class="col-12  col-md-8"></div>

      <div class="col-6 col-md-4">
        <div class="form-group col-md-8">
          <%= f.label :date, required: false %>
          <%= f.date_field :date, class: "form-control" %>
        </div>
        <div class="form-group  col-md-8 ">
          <%= f.label :currency, required: false %>
          <%= f.input_field :currency, class: "form-control" %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>
            <th class="text-center"> Product</th>
            <th class="text-center"> Qty</th>
            <th class="text-center"> Price</th>
            <th class="text-center"> Total</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class='item-row'>
            <td><input type="text" name='product' placeholder='Enter Product Name' class="form-control "/></td>
            <td><input type="number" name='qty' placeholder='Enter Qty' class="form-control qty" step="0" min="0"/>
            </td>
            <td>
              <input type="number" name='price' placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0"/>
            </td>
            <td><input type="number" name='total' placeholder='0.00' class="form-control total" readonly/></td>
            <td class="align-middle"><a class="btn btn-sm btn-warning delete delete_row">Delete row</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <a id="add_row" class="btn btn-success">Add a row</a>
      </div>
    </div>

    <div class="col-4 offset-7">
      <table class="table table-bordered table-hover" id="tab_logic_total">
        <tbody>
        <tr>
          <th class=" align-middle">Sub Total</th>
          <td class="">
            <input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/>
          </td>
        </tr>
        <tr>
          <th class=" align-middle ">Tax [ % ]</th>
          <td>
            <input type="number" class="form-control" id="tax" placeholder="0">
          </td>
        </tr>
        <tr>
          <th class=" align-middle">Tax Amount</th>
          <td>
            <input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/>
          </td>
        </tr>
        <tr>
          <th class="align-middle">Grand Total</th>
          <td>
            <%= f.input_field :amount, class: "form-control", readonly: true  %>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <%= f.button :submit, 'Submit Payment', class: 'btn btn-warning'%>
    </div>

<% end %>
</div>