<nav class="navbar navbar-expand fixed-top">
  <%= link_to "Invoice app", root_path, id: "logo" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-gradient" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "My invoices", '#', class: "dropdown-item" %>
            <%= link_to "Create new invoice", '#', class: "dropdown-item" %>
            <%= link_to "Settings",  edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete,
                        class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-gradient" %>
      <% end %>
    </ul>
  </div>
</nav>